@font-face {
  font-family: 'yekan';
  src: url('../fonts/yekan.eot');
  src: url('../fonts/yekan.eot#iefix') format('embedded-opentype'), 
  url('../fonts/yekan.woff') format('woff'), 
  url('../fonts/yekan.ttf') format('truetype'),
  url('../fonts/yekan.svg#CartoGothicStdBook') format('svg');
  font-weight: normal;
  font-style: normal
}

body{
	background: #efefef;
	text-align: right;
	direction: rtl;
	font-family: "yekan",monospace;
}
.card{
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

input.endpoint{
	text-align: left;
	direction: ltr;
	font-family: monospace;
}

select.method{
	text-align: center;
	direction: ltr;
	font-family: monospace;
}

.remove-body{
	cursor: pointer;
}
.remove-body:active{
	background: #777;
	color: #f6f6f6;
}
.add-body{
	outline: none;
}
.monospace{
	font-family: monospace;
}
.append-body,.append-header{
	width: 100%;
}
.body,.error,.header,.headers{
	margin-bottom: 10px;
	background: #f5f5f5;
	border:1px solid #e1e1e1; 
	border-radius: 4px;
	padding: 10px;
}
.error textarea{
	margin-top: 5px;
}

.desc{
	background: #f8f8f8;
	padding: 10px;
	line-height: 2rem;
}
.endpoint-url,.endpoint-method,.endpoint-icon{
	background: #fff;
	border:1px solid #e1e1e1;
	padding: 4px;
	width: 100%;
	font-size: 16px;
	font-weight: 800;
}
.endpoint-method{
	background: #333;
	color: #fff;
}
.endpoint-url span,.endpoint-icon span{
	color: #3498db;
}
.endpoint-method span{
	color: #fff;
}
.document h6{
	background: #fff;
    width: fit-content;
    padding: 3px 10px;
    border: 1px solid #e1e1e1;
}

#json-body,#json-header{
	border-bottom:2px dashed #e1e1e1;
	margin-bottom: 10px;
}
.body li span,.headers li span{
	font-weight: 800;
	font-size: 15px;
}

li.message{
	background:#ffeaa7;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #c9c9c9;
	list-style: none;
}

li.message label{
    float: left;
    padding-bottom: 8px;
    padding-right: 7px;
}

p.p-text{
	background: #fff;
	font-family: "yekan",monospace;
	text-align: right;
	direction: rtl;
	padding: 10px;
}
