@font-face {
  font-family: 'yekan';
  src: url('../fonts/yekan.eot');
  src: url('../fonts/yekan.eot#iefix') format('embedded-opentype'), 
  url('../fonts/yekan.woff') format('woff'), 
  url('../fonts/yekan.ttf') format('truetype'),
  url('../fonts/yekan.svg#CartoGothicStdBook') format('svg');
  font-weight: normal;
  font-style: normal
}

body{
	background: #efefef;
	text-align: right;
	direction: rtl;
	font-family: "yekan",monospace;
}
.card{
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

input.endpoint{
	text-align: left;
	direction: ltr;
	font-family: monospace;
}

select.method{
	text-align: center;
	direction: ltr;
	font-family: monospace;
}

.remove-body{
	cursor: pointer;
}
.remove-body:active{
	background: #777;
	color: #f6f6f6;
}
.add-body{
	outline: none;
}
.monospace{
	font-family: monospace;
}
.append-body,.append-header,.append-response{
	width: 100%;
}
.body,.error,.header,.headers{
	margin-bottom: 10px;
	background: #f5f5f5;
	border:1px solid #e1e1e1; 
	border-radius: 4px;
	padding: 10px;
}

.body{
	padding-bottom: 0;
}

.response{
	padding-bottom: 10px;
}

.error textarea{
	margin-top: 5px;
}

.desc{
	background: #f8f8f8;
	padding: 10px;
	line-height: 2rem;
}
.endpoint-url,.endpoint-method,.endpoint-icon{
	background: #fff;
	border:1px solid #e1e1e1;
	padding: 4px;
	width: 100%;
	font-size: 16px;
	font-weight: 800;
}
.endpoint-method{
	background: #333;
	color: #fff;
}
.endpoint-url span,.endpoint-icon span{
	color: #3498db;
}
.endpoint-method span{
	color: #fff;
}
.document h6{
	background: #fff;
    width: fit-content;
    padding: 3px 10px;
    border: 1px solid #e1e1e1;
}

#json-body,#json-header{
	border-bottom:2px dashed #e1e1e1;
	margin-bottom: 10px;
}
.body li span,.headers li span{
	font-weight: 800;
	font-size: 15px;
}

li.message{
	background:#ffeaa7;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #c9c9c9;
	list-style: none;
}

li.message label{
    float: left;
    /* padding-bottom: 8px;
    padding-right: 7px; */
}

p.p-text{
	background: #fff;
	font-family: "yekan",monospace;
	text-align: right;
	direction: rtl;
	padding: 10px;
}

.body .required-box{
	line-height: normal;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -4px;
}
.body select{
	height: auto !important;
}

.body input,.body span{
	height: 34px;
}

.body select{
	padding: 0 !important;
    height: 34px !important;
}


.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  span.switch-label{
	line-height: 34px;
	padding: 0 5px;
	font-family: sans;
  }

 
  .up-body,.down-body{
	cursor: pointer;
  }

  .up-body:active,.down-body:active{
	background: #666666;
	color: #f5f5f5;
  }

  /*---------------- Draggable -------------------*/
